body {
    background-image: url("https://public.keskofiles.com/f/k-ruoka/product/6410405193414?w=400&h=250&auto=format&fm=jpg&fit=fillmax&fill=solid&fill-color=ffffff");
    background-size: cover;
    background-position: center;
    opacity: 0.2;
}

header, main, footer {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

h1, h2 {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: bold;
    text-align: center;
}

p {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}